<nav class="flex md:items-center md:gap-12 gap-4 px-2 py-4 bg-white flex-col md:flex-row">
    <i class="logo text-5xl text-[#ff385c] ri-compasses-2-fill max-md:mx-auto"></i>
    <ul class="flex md:gap-12 gap-4 max-md:justify-around">
        <li><a href="/">Home</a></li>
        <li><a href="/listing">Listings</a></li>
        <li><a href="/listing/add">Add New Listing</a></li>
    </ul>
    <div class="relative">
        <input type="text" id="searchInput"
            class="max-md:w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:border-blue-500"
            placeholder="Search hotels...">
        <ul id="searchResults"
            class="absolute z-10 bg-white border border-gray-300 rounded-lg w-full mt-1 flex flex-col gap-1 bg-white hidden">
            <!-- <p class="border-2 border-gray-300 cursor-pointer p-3 w-full">Namaste</p> -->
        </ul>
    </div>
    <ul class="flex md:gap-12 gap-4 font-semibold ml-auto pr-5">
        <% if(cUser) { %>
            <li><a href="/user/logout">Log Out</a></li>
            <% } else { %>
                <li><a href="/user/login">Login</a></li>
                <li><a href="/user/signup">SignUp</a></li>
                <% } %>
    </ul>
</nav>
<script>
    let searchInput = document.getElementById('searchInput');
    let searchResults = document.getElementById('searchResults');

    let mouseLeftResults = false; //Flag to track mouse leaving the results area

    searchInput.addEventListener('focus', function () {
        searchResults.classList.remove('hidden');
    });

    searchInput.addEventListener('input', async function () {
        let input = searchInput.value;
        if (input.length >= 2) {
            let result = await fetch(`/listing/search/${input}`);
            result = await result.json();

            //update the search results
            let clutter = ''
            result.forEach(prop => {
                clutter = clutter + `<a href="/listing/${prop._id}" class="border-2 border-gray-300 cursor-pointer p-3 w-full">${prop.title}</a>`;
            });
            if(clutter=='') clutter = '<p class="border-2 border-gray-300 cursor-pointer p-3 w-full">No Results Found</p>';
            searchResults.innerHTML = clutter;
        }
    });

    searchInput.addEventListener('blur', function () {
        if (mouseLeftResults) {
            searchResults.classList.add('hidden');
        }
    });
    searchResults.addEventListener('mouseleave', function () {
        mouseLeftResults = true;
        if (searchInput !== document.activeElement) {
            searchResults.classList.add('hidden');
        }
        console.log('Mouse leaved')
    });
    searchResults.addEventListener('mouseenter', function () {
        mouseLeftResults = false;
        console.log('Mouse entered')
    });
</script>