<nav class="flex items-center md:gap-12 gap-4 px-2 py-4 bg-white">
    <i class="logo text-5xl text-[#ff385c] ri-compasses-2-fill"></i>
    <ul class="flex md:gap-12 gap-4">
        <li><a href="/">Home</a></li>
        <li><a href="/listing">Listings</a></li>
        <li><a href="/listing/add">Add New Listing</a></li>
    </ul>
    <ul class="flex md:gap-12 gap-4 ml-auto pr-5">
        <% if(cUser) { %>
            <li><a href="/user/logout">Log Out</a></li>
        <% } else { %>
            <li><a href="/user/login">Login</a></li>
            <li><a href="/user/signup">SignUp</a></li>
        <% } %>
    </ul>
</nav>