<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/stylesheets/index.css" />
    <title>Home Page</title>
  </head>

  <body class="w-full overflow-x-hidden relative">
    <%- include('./layouts/nav.ejs') %>

    <main class="px-4 py-4 w-full flex flex-col gap-4">

      <section id="welcome" class="relative p-5 bg-[#f9f9f9] bg-red-100 rounded-lg">
        <h1 class="text-4xl font-semibold mb-4">Welcome to PrimeStay!</h1>
        <div class="container">
            <p class="text-xl mb-4">
            Embark on an extraordinary journey with us and discover the world's
            most breathtaking destinations.
          </p>
          <p class="text-xl mb-4">Why Choose PrimeStay?</p>
          <ul class="flex flex-col items-start">
            <li><i class="ri-star-s-fill text-yellow-500"></i> Curated Selection</li>
            <li><i class="ri-star-s-fill text-yellow-500"></i> Personalized Recommendations</li>
            <li><i class="ri-star-s-fill text-yellow-500"></i> 24/7 Support</li>
            <li><i class="ri-star-s-fill text-yellow-500"></i> Secure Booking</li>
          </ul>
        </div>
      </section>

      <section id="newweek" class="p-5 bg-red-100 rounded-lg overflow-hidden">
        <p class="text-4xl font-semibold mb-5">New this week</p>
        <div class="containerr flex gap-5 w-full overflow-x-auto">
          <div class="card rounded-lg h-[300px] flex flex-col justify-between p-5 text-white flex-nowrap">
            <div class="textupper">
                <p class="text-sm">Collection</p>
                <p class="text-xl font-semibold">Most Popular</p>
                <p class="text-xl font-semibold">around the world</p>
            </div>
            <div class="textbottom">
                <button class="p-2 rounded-lg font-semibold bg-white text-black">Show all</button>
            </div>
          </div>
          <div class="card rounded-lg min-w-[200px] h-[300px] w-[600px] flex flex-col justify-between p-5 text-white">
            <div class="textupper">
                <p class="text-sm">Collection</p>
                <p class="text-xl font-semibold">Most Popular</p>
                <p class="text-xl font-semibold">around the world</p>
            </div>
            <div class="textbottom">
                <button class="p-2 rounded-lg font-semibold bg-white text-black">Show all</button>
            </div>
          </div>
          <div class="card rounded-lg min-w-[200px] h-[300px] w-[600px] flex flex-col justify-between p-5 text-white">
            <div class="textupper">
                <p class="text-sm">Collection</p>
                <p class="text-xl font-semibold">Most Popular</p>
                <p class="text-xl font-semibold">around the world</p>
            </div>
            <div class="textbottom">
                <button class="p-2 rounded-lg font-semibold bg-white text-black">Show all</button>
            </div>
          </div>
          <div class="card relative rounded-lg min-w-[200px] h-[300px] w-[600px] flex flex-col justify-between p-5 text-white">
            <div class="textupper">
                <p class="text-sm">Collection</p>
                <p class="text-xl font-semibold">Most Popular</p>
                <p class="text-xl font-semibold">around the world</p>
            </div>
            <div class="textbottom">
                <button class="p-2 rounded-lg font-semibold bg-white text-black">Show all</button>
            </div>
          </div>
        </div>
      </section>

      <section id="newsletter" class="p-5 bg-red-100 rounded-lg">
        <p class="text-4xl font-semibold">Join PrimeStay NewsLetter</p>
        <div class="containerr">
          <p class="mt-5">Unlock exclusive travel deals, insider tips, and destination highlights by subscribing to PrimeStay's newsletter. Be the first to know about our latest promotions, curated travel experiences, and expert recommendations delivered directly to your inbox. Join our community of wanderlust explorers and embark on unforgettable journeys with PrimeStay. Don't miss out – sign up now and elevate your travel adventures!</p>

          <form id="signup-form" class="w-full">
            <div class="flex items-center justify-center gap-2 flex-col sm:flex-row my-5">
                <input type="email" placeholder="Your Email" name="email" class="p-2 w-full sm:w-1/2 rounded-lg mb-2 max-w-[500px]" required/>
                <input type="text" placeholder="Your Name" name="name" class="p-2 w-full sm:w-1/2 rounded-lg mb-2 max-w-[500px]" required/>
            </div>
            <button type="submit" class="p-2 rounded-lg bg-[#ff385c] text-white block mx-auto">Join Now</button>
          </form>
      </section>
      
      <section class="p-5 bg-red-100 rounded-lg">
        <p class="text-4xl font-semibold">Ready to Start Your Adventure?</p>
        <div class="containerr">
          <p class="mt-5">Explore our curated selection of hotels and accommodations that suit every traveler's taste and budget. Whether you're seeking luxury resorts, cozy boutique stays, or budget-friendly options, we've got you covered. Click below to discover your next unforgettable stay.</p>

          <button onclick="move('/listings')" class="p-2 rounded-lg bg-[#ff385c] text-white block mx-auto">Explore All Hotels</button>
      </section>

      <div id="modal-container" class="fixed bottom-[3vh] right-0 bg-black text-white rounded-xl p-5" style="transform: translateX(110%);">
          <div class="modal-content flex gap-5 items-center text-xl">
              <div class="modal-icon">&#10004;</div>
              <div class="modal-text">Successfully subscribed!</div>
          </div>
      </div>
    
    </main>

    <%- include('./layouts/footer.ejs') %>

    <script src="/scripts/index.js"></script>
  </body>
</html>
